{:highlights [{:id #uuid "66e16d22-da36-4d88-8695-5a56e4f8dedd",
               :page 322,
               :position {:bounding {:x1 320.0084737241268,
                                     :y1 74.67447662353516,
                                     :x2 386.9591268002987,
                                     :y2 101.34114837646484,
                                     :width 590.0000000000001,
                                     :height 754.8529411764707},
                          :rects ({:x1 320.0084737241268,
                                   :y1 74.67447662353516,
                                   :x2 386.9591268002987,
                                   :y2 101.34114837646484,
                                   :width 590.0000000000001,
                                   :height 754.8529411764707}),
                          :page 322},
               :content {:text "edema"},
               :properties {:color "yellow"}}
              {:id #uuid "66e1764a-6e38-4bd6-bc5b-323fd98ee0ea",
               :page 324,
               :position {:bounding {:x1 286.6666564941406,
                                     :y1 83.41146850585938,
                                     :x2 320.4754943847656,
                                     :y2 95.91146850585938,
                                     :width 816,
                                     :height 1044},
                          :rects ({:x1 286.6666564941406,
                                   :y1 83.41146850585938,
                                   :x2 320.4754943847656,
                                   :y2 95.91146850585938,
                                   :width 816,
                                   :height 1044}),
                          :page 324},
               :content {:text "Edema"},
               :properties {:color "red"}}],
 :extra {:page 324}}
